In [94]:
# Dependencies
import pandas as pd

In [95]:
# 1. Read the vine data and store into a Pandas DataFrame
vine_df = pd.read_csv("resources/vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3EQSTM9PWRAL,3.0,0.0,0.0,N,Y
1,RBWPRK17XKIXD,5.0,0.0,0.0,N,Y
2,RRSLOAF273XFC,5.0,1.0,2.0,N,Y
3,R3S8W9Q6SWIT8O,4.0,0.0,0.0,N,Y
4,R3QQ6NSLRVBFJC,4.0,0.0,0.0,N,Y
...,...,...,...,...,...,...
5331444,R10ITC6DGYFD3J,1.0,11.0,46.0,N,N
5331445,R16BFEO1ITQUP9,4.0,3.0,4.0,N,N
5331446,RJGC0F0GOD6QN,5.0,8.0,13.0,N,N
5331447,R2RTO9RPW3E7GE,5.0,1.0,8.0,N,N
5331448,R1F2ST77BCB5DZ,5.0,0.0,2.0,N,N

In [96]:
#2. total_votes count is equal to or greater than 20 to
high_votes = vine_df[(vine_df["total_votes"] >= 20)]
high_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y
...,...,...,...,...,...,...
5331434,R2E9I59R1AUR7O,5.0,33.0,35.0,N,Y
5331437,R32YWVU6WFM1DD,5.0,34.0,34.0,N,N
5331438,R14K2O125RAO00,5.0,26.0,28.0,N,N
5331439,RZ40FSRB4CJWS,5.0,47.0,47.0,N,N
5331444,R10ITC6DGYFD3J,1.0,11.0,46.0,N,N

In [97]:
#3a. helpful_votes divided by total_votes is equal to or greater than 50%
high_votes["helpful_votes_percentage"] = (high_votes["helpful_votes"]) / (high_votes["total_votes"])* 100
high_votes

/Users/randypants/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y,80.434783
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y,96.464646
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y,98.000000
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y,96.428571
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y,100.000000
...,...,...,...,...,...,...,...
5331434,R2E9I59R1AUR7O,5.0,33.0,35.0,N,Y,94.285714
5331437,R32YWVU6WFM1DD,5.0,34.0,34.0,N,N,100.000000
5331438,R14K2O125RAO00,5.0,26.0,28.0,N,N,92.857143
5331439,RZ40FSRB4CJWS,5.0,47.0,47.0,N,N,100.000000
5331444,R10ITC6DGYFD3J,1.0,11.0,46.0,N,N,23.913043

In [98]:
#3b. helpful_votes divided by total_votes is equal to or greater than 50%
quality_votes = high_votes[(high_votes["helpful_votes_percentage"] >= .5)]
quality_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y,80.434783
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y,96.464646
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y,98.000000
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y,96.428571
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y,100.000000
...,...,...,...,...,...,...,...
5331434,R2E9I59R1AUR7O,5.0,33.0,35.0,N,Y,94.285714
5331437,R32YWVU6WFM1DD,5.0,34.0,34.0,N,N,100.000000
5331438,R14K2O125RAO00,5.0,26.0,28.0,N,N,92.857143
5331439,RZ40FSRB4CJWS,5.0,47.0,47.0,N,N,100.000000
5331444,R10ITC6DGYFD3J,1.0,11.0,46.0,N,N,23.913043

In [99]:
#4 reviews from Vine (paid)
paid_votes = quality_votes[(quality_votes["vine"] =='Y')]
paid_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
38366,RG70K1HMY4LXX,4.0,37.0,44.0,Y,N,84.090909
145857,R1DHGTNXDXJ0GB,5.0,78.0,93.0,Y,N,83.870968
150655,R3B5S3OSA8N6AO,5.0,38.0,43.0,Y,N,88.372093
173012,R29X0YBS0SBIUP,5.0,56.0,74.0,Y,N,75.675676
223093,R1ZEDMCU6NYC8Q,3.0,26.0,27.0,Y,N,96.296296
...,...,...,...,...,...,...,...
5277568,R36RASFZVN2Q8N,3.0,23.0,24.0,Y,N,95.833333
5278013,R3GSPG69UD13JN,3.0,116.0,121.0,Y,N,95.867769
5278147,R19KPT1VUJH0ZH,5.0,28.0,29.0,Y,N,96.551724
5278790,R1LTHP49NUQMFH,4.0,33.0,33.0,Y,N,100.000000
5278803,R19I5HOSQ73JPY,4.0,354.0,358.0,Y,N,98.882682

In [100]:
#5 reviews not from Vine (unpaid)
unpaid_votes = quality_votes[(quality_votes["vine"] =='N')]
unpaid_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,helpful_votes_percentage
57,R2984F9VD9WDJB,1.0,37.0,46.0,N,Y,80.434783
178,R218TGWCIAZYNY,5.0,191.0,198.0,N,Y,96.464646
244,RGC2TLSBHLPZA,5.0,49.0,50.0,N,Y,98.000000
292,R2YYVOW2RYGRM8,5.0,27.0,28.0,N,Y,96.428571
353,R2X4WF89XICSB2,1.0,21.0,21.0,N,Y,100.000000
...,...,...,...,...,...,...,...
5331434,R2E9I59R1AUR7O,5.0,33.0,35.0,N,Y,94.285714
5331437,R32YWVU6WFM1DD,5.0,34.0,34.0,N,N,100.000000
5331438,R14K2O125RAO00,5.0,26.0,28.0,N,N,92.857143
5331439,RZ40FSRB4CJWS,5.0,47.0,47.0,N,N,100.000000
5331444,R10ITC6DGYFD3J,1.0,11.0,46.0,N,N,23.913043

In [101]:
#6a total number of Vine reviews
paid_number = paid_votes["star_rating"].count()
paid_number

505

In [106]:
#6b total number of Vine 5-star reviews
paid_votes_5star = paid_votes.loc[(paid_votes["star_rating"] == 5)]["star_rating"].count()
paid_votes_5star

220

In [107]:
#6c percent of Vine 5-star reviews
percentage_5_star_vine = (paid_votes_5star) / (paid_number) * 100
percentage_5_star_vine

43.56435643564357

In [108]:
#7a total number of unpaid reviews
unpaid_number = unpaid_votes ["star_rating"].count()
unpaid_number

132139

In [109]:
#7b total number of unpaid 5-star reviews
unpaid_votes_5star = unpaid_votes.loc[(unpaid_votes["star_rating"] >= 5)]["star_rating"].count()
unpaid_votes_5star

75972

In [110]:
#7c percent of unpiad 5 star reviews
percentage_5_star_unpaid = (unpaid_votes_5star) / (unpaid_number) * 100
percentage_5_star_unpaid

57.49400252764135